Pipelines_Azure/pl_process_formula1_data_support_live/pipeline/pipeline1.json
{
    "name": "pipeline1",
    "properties": {
        "activities": [
            {
                "name": "Get folder details",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "dataset_formula_raw",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_window_end_date": {
                                "value": "@pipeline().parameters.p_window_end_date",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "JsonReadSettings"
                    }
                }
            },
            {
                "name": "If folder exists",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get folder details",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Get folder details').output.exists",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Ingest circuits file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/1.ingest_circuits_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Ingest races file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/2.ingest_races_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Ingest constructor file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/3.ingest_constructors_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Ingest drivers file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/4.ingest_drivers_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Ingest results file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/5.ingest_results_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Ingest pit stops file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/6.ingest_pit_stops_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Ingest lap times file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/7.ingest_lap_times_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        {
                            "name": "Ingest qualifying file",
                            "type": "DatabricksNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebookPath": "/Project/(Clone) End of Course/ingestion/8.ingest_qualifying_file",
                                "baseParameters": {
                                    "p_data_source": {
                                        "value": "@variables('v_data_source')",
                                        "type": "Expression"
                                    },
                                    "p_file_date": {
                                        "value": "@formatDateTime(pipeline().parameters.p_window_end_date,'yyyy-MM-dd')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_formula1",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "concurrency": 1,
        "parameters": {
            "p_window_end_date": {
                "type": "string"
            }
        },
        "variables": {
            "v_data_source": {
                "type": "String",
                "defaultValue": "Ergast"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-03-04T01:50:59Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}